
$primaryColorRevenue: #336600;
$secondColorRevenue: #4C9900;
$secondColor: #575852;
$tabletPorcentColor: #352f2f;
$tabletGainColor: #C0C0C0;

.mainTabletRevenue {
    margin-left: 1000;
    color: $secondColorRevenue;
}
h4, h5, p {
    display: inline;
}

